<p>
  <strong>first name</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>last name</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>email</strong>
  <%= @user.email %>
</p>

<p>
  <strong>password</strong>
  <%= @user.password %>
</p>

<h1>DM;GC.</h1>
<h2>Doesnt Matter, got CRUD</h2>
