<header>
  <h1>This is a blog</h1>
  <h3>gogogo!</h3>
</header>
<main>
    posts should go here....
    <hr>
  <article>
  <% @posts.each do |post| %>
    <div id="frontpage">
      <h4><%= post.title %></h4>
       <h5><%= post.subtitle %></h5>
    </div>
    <hr>
  <% end %>
  </article>
</main>
