/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


#bodeh {
  background-image: url("http://i.imgur.com/R4PV2Tw.jpg");
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
  background-position: center;
}

 #container {
    text-align: center;
 }

 .jumbotron {
    text-align: center;
 }

#editandremove {
  text-align: right;
}

#signupcontainer {
  position: relative;
  bottom: 900px;
  background-color: white;
  opacity: 0.8;
}

#frontpagepost {
  max-width: 300px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px 25px;
}

#blogtitle {
 text-align: left;
}

#subtitle {
  text-align: left;
}
